language: haskell
install:
  - sudo apt-get update -qq
  - sudo apt-get install libassimp-dev
  - cabal update
  - cabal install --extra-include-dirs=/usr/local/include/assimp/
notifications:
  email:
    on_success: change
    on_failure: always
